.standaard{
    height: auto;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 45px;
}
.titel{
    height: auto;
}
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.title{
    height: auto;
    size: 20px;
    text-align: center;
}
.fill{
    height: 350px;
}
@media only screen and (min-height: 400px) {
    .fill {
        height: 500px;
    }
}