:root{
    --heightButtons: 25px;
}
.Maintenancebar{
    background: lightgray;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 10px;
}
.windowMainenance{
    margin: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 640px;
    border: lightgray solid 3px;
}
.windowleftlist{
    width: 40%;
    align-items: self-end;
}
.listitemsleft{
    height: 600px;
    overflow: scroll;
    scroll-behavior: smooth;
}
.leftUnderSidebalk{
    justify-content: space-evenly;
    display: flex;
}
.buttonMaintenance{
    background: gray;
    height: max-content;
}
.borderinwindow{
    background: lightgray;
    width: 0.25%;
    height: auto;
}
.windowrightcrud{
    width: 59.75%;
    display: inherit;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}
.windowrightcrudForm{
    height: 600px;
    overflow: scroll;
    scroll-behavior: smooth;
}
.emptyListItem{
    height: 120px;
    border: rgba(211, 211, 211, 0.47) solid;
    color: transparent;
    text-shadow: 0 0 7px #000;
    font-size: 30px;
}
.ListItem{
    height: 120px;
    border: rgba(211, 211, 211, 0.47) solid;
}
.ListItem:active {
    background: rgba(211, 211, 211, 0.18);
}
.ListItemTopic{
    height: 160px;
    border: rgba(211, 211, 211, 0.47) solid;
}
.ListItemTitle{
    font-size: 20px;
    display: flex;
    text-align: left;
    overflow: hidden;
    height: 3.8em;
    width: 100%;
}
@media only screen and (max-width: 650px) {
    .ListItemTitle {
        font-size: 15px;
    }
}
.ListItemSelected{
    color: #067aac;
}

.FormInfo{
    height: 100%;
    width: 100%;
}
.FormInfoTitle{
    font-size: 25px;
    justify-content: space-around;
    display: flex;
}
.InfoSection{
    text-align: center;
    padding: 10px;
}
.InfoAttribute{
    height: 20px;
    color: #00407a;
}
.InfoAttributeValueAndInput{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.comment{
    color: lightgray;
    padding: 10px;
    font-size: 70%;
}


.InfoButtonsBottom{
    height: 40px;
    justify-content: space-evenly;
    display: flex;
}
.ErrorMessageForm{
    color: red;
}